@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  
}

.container {
  max-width: 480px !important;
  font-family: "Jost", sans-serif;
  border: none;
  box-shadow: 1px 1px 10px lightgray;

  background-color: #fff;
  
  position: relative;
  /* border-radius: 20px; */
  padding-top: 15px;
  overflow-x: hidden;
  
 
}
.list-group{
border-radius: 10px !important;
}

.vh-100{
  height: 100vh;
}

.profile img {
  width: 100px;
  border-radius: 50%;

  
}
.fontSize a {
  font-size: 15px;
  font-weight: 300 !important;
}

.padd-20 {
  padding: 20px !important;
}

.list-group-item {
  border-radius: 10px !important;
  border: none !important;
 background-color:#fff !important ;
 font-weight: 600 !important;
}
  

.list-group-item-action:focus,
.list-group-item-action:hover {
  background-color: #ab2440!important;
  color: #ffff !important;
}


.btn-outline-warning {
  color: #ab2440 !important;
  border: 1px solid #ab2440 !important;
}



.btn-icon {
  background: #ab2440 !important;
}
.btn-icon:hover {
  background: #fff !important;
  transition: 1s;
}


/* profile css */
.header{
  background:#ab2440;
  color: #fff;
  box-shadow: 1px 1px 5px rgb(165, 154, 154);
  height: 210px;

  /* padding: 20px; */
}
.floting-info{
  /* position: relative; */
  height: 200px;
  color:#fff;
  border-radius: 10px 0 10px;
}


.header a {
  padding: 16px;
  color: #ffff ;

}

.header .heading-text p{
  font-size: small;
}

/* edit profile */

.profile-view {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 13px;
  position: relative;

}

.profile-view .editBtn {
  position: absolute;
  top: 68%;
  right: 10%;
  z-index: 50;
}
.profile-view img {
  width: 100%;
  border-radius:50%;
}

.editBtn {
  background: #d3d3d3 !important;
  border-radius: 16px;
}

.editBtn label {
  width: 40px !important;
  height: 36px !important;
  border-radius: 16px;
}

.formInput input,
.formInput select,
.formInput textarea,
.formInput label {
  border: none;
  outline: none;

  background-color: #fff;
 
 
 
}
.modalInput {
  border: none;
  outline: none;
}

.formInput label {
  font-size: 13px;
  position: relative;
  font-weight:normal;
}
.formInput label span {
  position: absolute;
  right: 10px;
  top: 10px;
  
}
.formInput input{
  font-size: 16px;
  font-weight:100;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding: 10px 0px;
}

.formInput  i{
  color: #7a8386;
}
.formInput label span i{
  color: #7a8386;
}


/* theme css */

.theme-prev{
  margin: 10px !important;
}

.theme-prev div div{
 padding: 10px;
 box-shadow: 1px 1px 10px lightgray;
}
.theme-div-img{
  height: 200px;
}
.theme-prev div img{
  width: 100%;
  height: 100%;
}

/* preview html */

.preview-img{
 height: 70%;
}
.preview-img img{
  width: 100%;
}

.dflex{
  align-items: baseline !important;
}
.share-icon{
  font-size: 20px;

}
.share-txt{
  font-size: 12px ;
  
}
.share-icon i{
  padding:0px 5px ;
  color: #369dc3;

 
}
@media only screen and (max-width: 576px) {

}