@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url( "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"  );
@import '~bootstrap/scss/bootstrap.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
}
.container {
  box-shadow: none !important;
}
.navbar {
  box-shadow: 1px 1px 10px lightgrey;
  position: fixed !important;
  z-index: 100;
  top: 0px;
  width: 100%;
}
.mt80 {
  margin-top: 80px;
}
.mb80 {
  margin-bottom: 80px;
}
.mt90 {
  margin-top: 95px;
}
.navbar-nav {
  padding-left: 40px;
}
.img-fit {
  img {
    width: 100%;
  }
}
.navbar-brand img {
  width: 230px;
}
.option-bar {
  margin: 0px;
  li {
    list-style: none;
    padding: 0px 10px;
  }
}
.book-btn {
  padding: 10px 20px;
  background-color: #ab2440;
  border: none;
}

.padd-15 {
  padding: 0px 15px;
}
.width200 {
  width: 200px;
}
.wishCount {
  width: 14px;

  background-color: #ab2440;
  border-radius: 50%;
  left: 52px;
  color: white;
  top: -3px;
  font-size: 11px;
  position: absolute;
}
.photo-gallary {
  width: 104px;
  position: absolute;
  top: 62%;
  right: 5%;
  box-shadow: 1px 3px 10px;
  border: 2px solid lightgrey;
}
.remove-item {
  position: absolute;
  font-size: 29px;
  left: 83%;
  color: #ab2440;
}
.wish-count {
  border-right: 1px solid gray;
}
.main-wish {
  border: 1px solid grey;
  background: lightgray;
  p {
    margin: 0px;
    padding: 10px;
    color: #ab2440;
    font-size: 16px;
    font-weight: 400;
  }
}
.heartbtn {
  position: absolute;
  right: 21px;
  top: 29px;
  font-size: 26px;
  color: white;
  font-weight: 900;
  z-index: 100;
}
.banner-main {
  position: relative;
  .carousel-section {
    .backimg {
      width: 100%;
      height: 500px;
      background-color: #f6e9e6;
      // object-fit: cover;
    }
  }

  .search-bar {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 8%;
    padding: 10px;
    border: 1px solid lightgray;
    .book-btn {
      padding: 10px 20px;
      background-color: #ab2440;
      border: none;
      border-radius: 10px;
    }
  }
  .banner-text {
    top: 30%;
    left: 8%;
    position: absolute;

    h1 {
      font-size: 60px;
    }
    span {
      color: #ab2440;
    }
  }
  .search-close i{
    font-size: 50px;
  }
}
.nav-link {
  color: #000 !important;
}
.tab-section {
  background-color: #fff;
  color: black;
  .nav-link:hover {
    background-color: none !important;
  }
  .nav-link {
    padding: 15px 0px !important;
  }

  button {
    color: black;
  }
  .nav-pills {
    img {
      width: 35px !important;
    }
  }
}
.carousle-dest {
  .item {
    text-align: center;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    a {
      color: black;
    }
  }

  .owl-carousel .owl-item img {
    width: 80px !important;
    background: #f4f4f4;
    border-radius: 50%;
  }
  // .owl-item{
  //   width: auto!important;
  // }
  .owl-dots {
    display: none !important;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-nav {
    display: none;
  }
  .owl-item {
    display: flex;
    justify-content: center;
  }
}
.img-fit {
  height: 250px;
  overflow: hidden;
}
.info-part {
  padding: 20px 20px 0px 20px;
  line-height: 1;
  height: 190px;
  h4 {
    font-size: 18px;
  }
  img {
    width: 100%;
  }
  .img-fit {
    height: 250px;
    overflow: hidden;
  }
  .dest-text {
    font-size: 14px;
  }
  .extra-text {
    font-size: 12px;
  }
}
.head-dest {
  margin: 10px 0px;
}
.night-label {
  position: absolute;
  top: 15px;
  left: 0px;
  padding: 5px 18px;
  background: #ab2440;
  border-radius: 0px 5px 5px 0px;
  color: #fff !important;
  font-weight: 500;
}
.today-deal {
  overflow: hidden;

  .info-part {
    padding: 20px 20px 0px 20px;
    line-height: 1;
    h4 {
      font-size: 18px;
    }
    img {
      width: 100%;
    }
    .img-fit {
      height: 250px;
      overflow: hidden;
    }
    .dest-text {
      font-size: 14px;
    }
    .extra-text {
      font-size: 12px;
    }
  }
}
.info-part {
  padding: 20px 20px 0px 20px;
  line-height: 1;
}

.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}
.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}
.list-property {
  padding: 100px 0px;
  .text-part {
    background-color: #ebfcea;
    padding: 0px;
  }
  .img-part img {
    width: 100%;
  }
  .col-lg-5 {
    padding: 0px !important;
  }
  .col-lg-7 {
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
  }
}

.service-secion {
  margin: 20px 0px;
  padding: 60px 0px;
  line-height: 2;
  img {
    width: 60px;
    padding: 20px 0px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
.our-story {
  padding: 30px 0px;
}

.indicators {
  padding: 20px 0px;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
.contact-link {
  background-image: url('../img/backgrounds.png');
  background-size: cover;
  padding: 140px 0px;
  margin: 20px 0px;
  color: #fff;
  line-height: 3;
}

.instant-call {
  background: #ab2440;
  color: #fff;
  padding: 20px 120px;
  h2 {
    font-size: 26px;
  }
  input {
    padding: 17px 20px;
    border-radius: 5px;
    border: none;
  }
  button {
    padding: 17px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f8d448;
  }
}
.amenities {
  .back {
    font-size: 13px;
  }
}
.bottom {
  padding: 30px 0px;
  color: #c3c3c3;
  background: #333;
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    line-height: 2;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .red {
    color: #ab2440;
  }
}

// Online Payment
.online-pay {
  .padd-20 {
    padding: 40px 0px;
    h2 {
      font-weight: 600;
    }
  }

  .qr-img img {
    width: 100%;
  }
}

.fixed-bottom {
  background: #fff !important;

  a {
    color: grey;
    text-decoration: none;
  }
  .col-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    p {
      margin: 0px;
    }
  }
}

.head-line {
  background-color: #ab2440;
  .heading-text {
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    font-size: 30px;
  }
}
.nav-pills {
  .active {
    background-color: white !important;
    color: #000 !important;
    border-radius: 0px !important;
    border-bottom: 3px solid #ab2440 !important;
  }
}
///Wish-List
.wish-card {
  justify-content: space-evenly;
  align-items: center;
  .img-part {
    width: 200px;
  }
  .img-part img {
    width: 100%;
  }
  .info-part {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}
// list-your-property

.property-list-form {
  max-width: 500px;
  border: 1px solid lightgray;
  background: #fff;
  margin: 100px 0px;
  border-radius: 5px;

  h2 {
    font-weight: 500;
  }
  p {
    line-height: 2;
  }
  button {
    background-color: #ab2440 !important;
    border: none;
    padding: 20px !important;
  }
}
.property-list-main {
  background: #e5f0fd;
}

// Successfully page
.success-page {
  .message-part {
    line-height: 2;
    .mark-logo {
      background-color: none !important;
      i {
        color: #ab2440;
        font-size: 70px;
      }
    }
    h2 {
      font-weight: 700;
    }
    p {
      color: #697488;
    }
  }
  .order-detail {
    border: 1px dashed #ab2440;
    border-radius: 5px;
  }
  .order-info {
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .font-color-maroon {
    color: #ab2440;
    font-weight: 600;
  }
}

// villa-sb-1000

.info-part {
  .back {
    background: #f5f8ff;
    border-radius: 5px;
  }
  .star P {
    font-size: 12px;
    margin: 0px;
  }
  .overview {
    line-height: 2;
  }
  .readmore {
    text-decoration: underline !important;
    cursor: pointer !important;
  }

  .meal-plan {
    border: 1px dashed red;
    background: #f6f6f6;
  }
  .tab-content {
    .tab-pane {
      line-height: 2;
    }
    .faq-btn {
      width: 50px;
      border-radius: 50%;
    }
    .ans-detail {
      display: none;
    }
  }
}

.review-section {
  .review-box {
    h2 {
      background: #ab2440;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      font-size: 22px;
    }
  }
  .review-text {
    p {
      margin: 0px;
    }
  }
}
.review-textpart {
  .review-name {
    background: #051036;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
  }
  .review-nameright {
    p {
      margin: 0px;
    }
  }
}
.progress {
  height: 6px !important;
  .progress-bar {
    background-color: #ab2440 !important;
  }
}

// Listing.html

.listing-top-part {
  .searchbar {
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 90%;

    input {
      border-radius: 10px 10px 0px 0px;
      // height: 60px;
    }
  }

  .search-part {
    background: #fff;
    box-shadow: 0px 20px 20px lightgray;
    display: none;
  }
}
.filter-option {
  color: #ab2440;
}

a {
  text-decoration: none;
}
.show {
  display: block !important;
}
//My Booking
.mybooking {
  position: relative;
  .price {
    border-radius: 5px 0px 0px 5px !important;
  }
  p {
    margin: 0px;
    font-size: 14px;
  }
  .head-text {
    font-weight: 300;
    color: gray;
  }
  .book-ticket {
    padding: 10px;
    border: 1px solid #ab2440;
    border-radius: 10px;
    background-color: #fff2f5 !important;
  }
  .downpart {
    transition: 0.3s;
  }
  .toggle-button {
    text-align: center;

    #More {
      padding: 10px;
      font-size: 30px;
      border-radius: 10%;
    }
  }
}
// first page{
.firstpage {
  background-color: #fff;
  height: 100vh;
  position: relative;
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
  img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 60px;
  }
  button {
    position: absolute;
    width: 90%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.innerhead {
  box-shadow: 1px 1px 10px lightgray;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 1000;

  .round {
    i {
      box-shadow: 1px 1px 10px lightgrey;
      border-radius: 10px;
      width: 50px;
      height: 50px;
      padding: 5px;
    }
  }
}
.heartred{
  color: #ab243f;
}
.modal-close{
  position: absolute;
  right: 8px;
  top: 59px;
  font-size: 26px;
}

//Login page

.login {
  color: #697488;
  .submit-btn {
    background-color: #ab2440;
    color: #fff;
  }
  .head {
    color: #000;
  }
  .tab-pane {
    padding: 20px;
  }
}
.SideMenu2 {
  transform: translateX(0%) !important;
}
#togglebtn {
  font-size: 38px;
}
.SideMenu {
  width: 70%;
  height: 100vh;
  background-color: #fff2f5;
  position: fixed;
  z-index: 6000;
  transform: translateX(-100%);
  transition: 0.5s;

  .side-option {
    p {
      font-size: 17px;
      color: #ab2440;
      font-weight: 400;
    }
  }

  h2 {
    color: #fff;
    font-size: 20px;
  }
  .img-cont {
    width: 60px;
    border: 5px solid white;
    border-radius: 50%;
  }
  .iconpart {
    background-color: #ab2440;
  }

  .img-cont {
    // width: 100px;
    // height: 50px;
    // border:1px solid black;
    // border-radius: 50%;
    img {
      width: 100%;
    }
  }
}
.bookmain {
  padding: 20px;
  box-shadow: 1px 1px 10px lightgray;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
}

.slick-slide img {
  display: inline-block !important;
}
.item {
  p {
    color: #000;
  }
}
.ant-picker-range {
  width: 100%;
}
.date-border {
  border: 1px solid lightgrey;
}
.minus-btn {
  width: 30px;
  height: 30px;
  background: #ab2440;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.plus-btn {
  width: 30px;
  height: 30px;
  background: #ab2440;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.ant-picker-dropdown {
  z-index: 1000000;
  width: 80%;
}
.ant-picker-panels {
  flex-wrap: wrap !important;
}
.ant-picker-panel-container {
  position: absolute;
  top: -141px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    padding: 0px;
  }
  .navbar-brand img {
    width: 150px;
  }

  .navbar {
    .book-btn {
      display: none !important;
    }
  }
  .banner-main {
    .backimg {
      display: none;
      position: static;
    }
  }
  .banner-slider {
    position: relative !important;
  }
  .banner-text {
    display: none;
  }
  .search-bar {
    display: block !important;
    width: 90% !important;
    padding: 0px !important;
    top: 60% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff2f5 !important;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightslategray;
    .width200 {
      width: 100% !important;
    }
    .book-btn {
      width: 100% !important;
    }
    label {
      font-weight: 500;
    }
    input {
      border: none !important;
      font-weight: 400;
      border-radius: 0px !important;
      border-bottom: 2px solid #ab2440 !important;
      height: 50px !important;
    }
    select {
      border: none !important;
      font-weight: 400;
      border-bottom: 2px solid #ab2440 !important;
      border-radius: 0px !important;
      height: 50px !important;
    }
  }
  .padd-15 {
    padding: 10px 15px;
  }
  .list-property {
    text-align: center;
    padding: 25px 0px;
    .text1 {
      padding: 30px;
      line-height: 3;
    }
  }
  .contact-link {
    padding: 70px 0px;
  }
  .service-secion {
    padding: 0px;
  }
  .tab-section {
    .nav {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
  .search-list {
    position: absolute;
    top: 151px;
    left: 23px;
    width: 88%;
    // color: #fff;

    li {
      list-style: none;
      background: white;
      backdrop-filter: blur(100px);
    }
  }
  // p{
  //   color: #000 !important;
  // }
  .instant-call {
    padding: 17px;
    input {
      padding: 2px;
    }
    button {
      padding: 2px;
    }
    h2 {
      font-size: 12px;
      margin: 0px;
    }
  }

  .owl-nav {
    .owl-prev {
      position: absolute;
      top: 40%;
      left: 3%;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: white;
        width: 50px;
        height: 50px;
        background: rgba(0.5, 0.5, 0.5, 0.5);
      }
    }
    .owl-next {
      position: absolute;
      top: 40%;
      right: 3%;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: white;
        width: 50px;
        height: 50px;
        background: rgba(0.5, 0.5, 0.5, 0.5);
      }
    }
  }

  .fixed-bottom {
    background: #fff !important;
    box-shadow: 1px 1px 20px lightgray;

    a {
      color: grey;
      text-decoration: none;
    }
    .col-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
      p {
        margin: 0px;
      }
    }
  }
}

//PAYMENTPAGE
.red {
  background-color: red;
}
.box {
  padding: 0px 10px;
}

.pull-right {
  /* padding-left:20px;
    padding-right:20px; */
  padding: 20px;
}

.border1 {
  border-bottom: 1px dotted rgb(99, 97, 97);
}

.bordersolid {
  border-bottom: 1px solid rgb(99, 97, 97);
  padding-top: 20px;
  padding-bottom: 40px;
}

.abc {
  padding-left: 20px;
}

.right {
  text-align: right;
}
.box1 {
  width: 100%;
  height: 200px;
  /* background-color: red; */
  border: 2px dashed #ab2440;
  /* margin-right: 16px;+ */
  background-color: #f6f6f6;
  margin-top: 25px;
}

.text {
  font-weight: 700;
  padding: 30px;
}

.box2 {
  display: flex;
  flex-direction: row;
}
.meal-type {
  display: flex;
  padding-left: 30px;
}

.a {
  height: 60px;
  display: flex;
}

.button {
  width: 100px;
  /* height: 35px; */
  padding: 6px 0px;
  background-color: #ab243f00;
  border-radius: 5px;
  border: 1px solid #ab2440;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.button:hover {
  width: 100px;
  /* height: 35px; */
  padding: 6px 0px;
  background-color: #ab243f;
  border-radius: 5px;
  border: 1px solid #ab2440;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  color: #f6f6f6 !important;
}

/* .dropdown{
    margin-bottom: 40%;
} */

.box4 {
  width: 100%;
  height: 52vh;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 30px;
}

.box-4 {
  display: flex;
}

.box5 {
  height: 150px;
  width: auto;
}

.img1 {
  width: 120px;
  height: 120px;
  margin: 20px;
}

.box6 {
  width: 95%;
  height: 90px;
  margin: 0px 10px;
  border-bottom: 1px solid gray;
}

.btn1 {
  /* justify-content: center; */
  text-align: center;
  width: 100%;
  height: 100px;
}

.text-1 {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  background-color: #def2d7;
  /* width: 80%; */
}

.button2 {
  width: 100%;
  padding: 4% 40%;
  border-radius: 10px;
  background-color: #ab2440;
  color: #fcfcfcfc;
  text-decoration: none;
}
.slick-dots{
  display: none !important;
}